**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.devcontainer
**/.pytest_cache
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/build

**/.work
**/htmlcov
**/output
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml

test-results.xml
.coverage
coverage.xml
.coveragerc
*.sh

poetry.*
pyproject.*
pyrightconfig.json
README.md

LICENSE
README.md
